<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Race Registration Software</title>
		<base href="/">
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
		<meta name="keywords" content="race,management,software,online,registration,running,walking,cycling,fundraiser,fun run,cancer,diabetes">
		<meta name="description" content="Are you hosting a race? Do you need a way for your participants to register online? Racetopia.com make hosting your own race a snap! Whether you are hosting a fundraiser for your cause or would just like to automate your race registration process, Racetopia.com gives you all the tools you need to run a smooth event from beginning to end!">
		<meta name="robots" content="/robots.txt">
		<meta name="author" content="#">
		<meta name="copyright" content="#">
		<meta name="language" content="en">
	
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">

		<%= load_css controller %>
		<%= load_scripts controller %>
	</head>
	

	<body id="<%= controller.controller_name %>">
		
		<div id="wrapper">
			
			<div id="header">
				<h1 id="logo" title="racetopia.com"><a href="/" title="Home"><%= company_name %></a></h1>
				<h4 id="tagline">Coming April 1, 2009</h4>
			</div>
			
			<div id="content" class="cf">
				<div id="guts">
					<%= content_tag(:div, flash[:message], :class => "message") if flash[:message] -%>
					<%= content_tag(:div, flash[:success], :class => "success") if flash[:success] -%>
					<%= content_tag(:div, flash[:error], :class => "error") if flash[:error] -%>
					<%= yield :layout -%>
				</div>
			</div>
			
			<div id="footer">
				<p id="copyright">&copy; 2008 <%= company_name true %></p>
			</div>
			
		</div>

		<% if show_analytics? -%>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src=’" + gaJsHost + "google-analytics.com/ga.js’ type=’text/javascript’%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try
			{
				var pageTracker = _gat._getTracker("UA-6503179-1");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
		<% end -%>
		
	</body>
</html>